@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

@font-face {
  font-family: "graphik";
  src: url("../public/font/Graphik-Regular-Web.woff2");
}

@font-face {
  font-family: "graphik-medium";
  src: url("../public/font/Graphik-Medium-Web.woff2");
}

@font-face {
  font-family: "graphik-semi";
  src: url("../public/font/Graphik-Semibold-Web.woff2");
}
